In [1]:
print("Achintya Misra")

Achintya Misra

In [2]:
print('Achintya')

Achintya

In [3]:
Print('Hello')

NameError: name 'Print' is not defined

In [4]:
print(Hello Achintya)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1673564205.py, line 1)

In [ ]:
print(10)

10

In [ ]:
print(69)

69

In [ ]:
print(6.9)

6.9

In [5]:
first name="Achintya"

SyntaxError: invalid syntax (1620646706.py, line 1)

In [ ]:
1name="Jesus"

SyntaxError: invalid decimal literal (2009029239.py, line 1)

_name="Jesus"

In [6]:
_name='Achintya'
_name

'Achintya'

In [7]:
n2name="Achintya"
n2name

'Achintya'

In [ ]:
x=10.5
type(x)

float

In [8]:
z=Achintya
type(z)

NameError: name 'Achintya' is not defined

In [ ]:
x=10
type(x)
x

10

In [ ]:
x,type(x)

(10, int)

In [ ]:
x,y=10,20
y
x

10

In [ ]:
x,y

(10, 20)

In [ ]:
y,x

(20, 10)

In [ ]:
x=5
x//=2
x

2

In [ ]:
### Achintya Misra
### Data type
### Age 
### Data type

In [9]:
x=Achintya Misra
type(x)

SyntaxError: invalid syntax (449535886.py, line 1)

In [10]:
x=Achintya
type(x)

NameError: name 'Achintya' is not defined

In [ ]:
z=10
type(z)

int

In [ ]:
Age=20
type(Age)

int

In [11]:
Name=Achintya
type(Name)

NameError: name 'Achintya' is not defined

In [12]:
Name=Achintya
type(Name)

NameError: name 'Achintya' is not defined

In [13]:
Name="Achintya"
type(Name)

str